@model List<offers.Application.Models.Response.CategoryResponseModel>

@{
    ViewData["Title"] = "Categories";
}

<h2>All Categories</h2>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <a asp-action="Category" asp-route-id="@category.Id">@category.Name</a>
                @if (!string.IsNullOrEmpty(category.Description))
                {
                    <div class="text-muted">@category.Description</div>
                }
            </li>
        }
    </ul>
    <div class="d-flex justify-content-center mt-4 gap-2">
        @if ((int)ViewBag.currentPage > 1)
        {
            <a asp-action="Categories"
               asp-route-pageNumber="@(ViewBag.currentPage - 1)"
               class="btn btn-outline-secondary">
                ← Previous
            </a>
        }

        @if ((bool)ViewBag.CanGoRight)
        {
            <a asp-action="Categories"
               asp-route-pageNumber="@(ViewBag.currentPage + 1)"
               class="btn btn-outline-primary">
                Next →
            </a>
        }
    </div>
}
else
{
    <p>No categories available.</p>
}